@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./helper.scss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li,
ul {
  list-style: none;
}

.app-wrapper {
  margin-top: 120px;

  @include mobile {
    margin-top: 158px;
  }
}

.swiper-custom .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
  height: 8px;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 8px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #fff;
  border-radius: 50%;
  height: 6px;
  margin: 0px;
  opacity: .6;
  width: 6px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset !important;
  bottom: 17px !important;
  left: unset !important;
}

// button {
//   background: transparent;
//   border: none;
//   outline: none;
// }

.swiper-custom.swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: #FFFF;
  opacity: 0.5;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.custom-slider-pdp-product .swiper-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  justify-content: center;
}


.swiper-slide{
  &.Thumb-swiper-slide{
    min-width: 35px;
    max-width: 35px;
    border: .5px solid #7b7b7b;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    align-items: center;
    background: #e9e9e9;
    border: .5px solid #e9e9e9;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    padding: 9px 2px;
    position: relative;
    width: 38px;
    &.swiper-slide-thumb-active{
      min-width: 35px;
      max-width: 35px;
      border: .5px solid #7b7b7b;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-flex-negative: 0;
      align-items: center;
      background: #e9e9e9;
      border-radius: 4px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-shrink: 0;
      height: 40px;
      justify-content: center;
      padding: 9px 2px;
      position: relative;
      width: 38px;
    }
  }
  
}






// .Thumb-swiper-slide.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-next {
//   min-width: 35px;
//   max-width: 35px;
//   img {
//     width: 32px;
//     height: 32px;
//   }

// }