@import './../../../styles/helper.scss';


.overlay {
    position: unset;
    top: 120px;
    width: 100%;

    &.active {
        display: block;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, .7);
        z-index: 2;
    }
}

.header {
    ul {
        &::-webkit-scrollbar {
            background-color: transparent;
            scrollbar-color: rgba(0, 0, 0, .2) transparent;
            scrollbar-width: thin;
            width: 10px
        }

        &::-webkit-scrollbar-track {
            background-color: transparent
        }

        &::-webkit-scrollbar-thumb {
            background-clip: content-box;
            background-color: rgba(0, 0, 0, .2);
            border: 4px solid transparent;
            border-radius: 20px
        }

        &::-webkit-scrollbar::-webkit-scrollbar {
            width: 10px
        }

        &::-webkit-scrollbar::-webkit-scrollbar-track {
            background-color: transparent
        }

        &::-webkit-scrollbar::-webkit-scrollbar-thumb {
            background-clip: content-box;
            background-color: rgba(0, 0, 0, .2);
            border: 4px solid transparent;
            border-radius: 20px;
        }

    }
}


.vs-head-wrapper {
    background-color: #fff;
    height: 100%;
    left: 0;
    max-height: 120px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    @include mobile {
        display: none;
    }

    &-sec {
        &-flyout {
            &-menu {
                left: 0;
                margin: 0 auto;
                max-height: 540px;
                max-width: 1366px;
                min-height: 540px;
                position: fixed;
                right: 0;
                top: -454px;
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
                z-index: 8;
                transition: .6s ease-in-out;

                &.active {
                    display: block;
                    top: 120px;
                    -webkit-transform: translateY(0%);
                    transform: translateY(0%);
                    width: 100%;
                }

                &-container {
                    display: flex;

                    &-sub-category {
                        max-height: 540px;
                        max-width: 346px;
                        min-height: 540px;
                        min-width: 346px;
                        background-color: white;

                        &-list {
                            max-height: 540px;
                            min-height: 540px;
                            padding: 22px 16px 41px 66px;

                            ul {
                                -webkit-box-orient: vertical;
                                -webkit-box-direction: normal;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                gap: 25px;
                                margin-top: 24px;
                                max-height: 432px;
                                overflow-y: scroll;
                            }

                            &-link {
                                color: #262626;
                                font-family: robotoRegular, sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 20px;

                                &-li {
                                    a {
                                        color: #262626;
                                        font-family: robotoRegular, sans-serif;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 20px;
                                        text-align: left;
                                    }

                                    &.active {
                                        -webkit-box-align: center;
                                        -ms-flex-align: center;
                                        align-items: center;
                                        cursor: pointer;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;

                                        img {
                                            display: block;
                                            margin-left: 16px;
                                        }

                                        a {
                                            color: #262626;
                                            font-size: 21px;
                                            font-weight: 700;
                                            line-height: 27px;
                                        }
                                    }

                                    img {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    &-inner {
                        width: 100%;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        gap: 48px;
                        justify-content: space-between;
                        max-height: 540px;
                        min-height: 540px;
                        padding: 55px 51px 50px 41px;
                        background-color: #FAFAFA;

                        &-filter {
                            max-width: 264px;
                            width: 100%;

                            &-wrapper {
                                &-parent {
                                    margin-top: 11px;
                                    max-width: 264px;
                                    width: 100%;

                                    &-sub {
                                        &-links {
                                            -webkit-box-orient: vertical;
                                            -webkit-box-direction: normal;
                                            display: -webkit-box;
                                            display: -ms-flexbox;
                                            display: flex;
                                            -ms-flex-direction: column;
                                            flex-direction: column;
                                            // gap: 24px;
                                            margin-right: -16px;
                                            // margin-top: 27px;
                                            max-height: 386px;
                                            overflow-x: hidden;
                                            overflow-y: auto;
                                            padding-right: 16px;
                                            padding-top: 16px;

                                            &-list {
                                                -webkit-box-align: center;
                                                -ms-flex-align: center;
                                                -webkit-box-pack: justify;
                                                -ms-flex-pack: justify;
                                                align-items: center;
                                                color: #262626;
                                                display: -webkit-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                font-size: 14px;
                                                font-weight: 500;
                                                justify-content: space-between;
                                                line-height: 18px;
                                                padding: 3px 0px;
                                                width: 100%;

                                                img {
                                                    margin-right: 2px;
                                                    -webkit-transform: rotate(90deg);
                                                    transform: rotate(90deg);
                                                    -webkit-transition: .3s linear;
                                                    transition: .3s linear;
                                                }
                                            }

                                            ul {
                                                -webkit-box-orient: vertical;
                                                -webkit-box-direction: normal;
                                                display: -webkit-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                -ms-flex-direction: column;
                                                flex-direction: column;
                                                gap: 8px;
                                                margin: 16px 0px 0px 16px;
                                                max-height: 0;
                                                max-width: 247px;
                                                overflow-y: scroll;
                                                -webkit-transition: max-height .3s linear;
                                                transition: max-height .3s linear;

                                                &.active {
                                                    max-height: 200px;
                                                    transition: max-height .3s linear;
                                                }

                                                li {
                                                    a {
                                                        color: #555;
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        line-height: 18px;
                                                        text-align: left;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &-feature-image {
                            max-height: 434px;
                            max-width: 616px;

                            .image {
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                gap: 32px;
                                justify-content: space-between;
                                margin-bottom: 24px;

                                img {
                                    border-radius: 16px;
                                    height: 100%;
                                    max-height: 320px;
                                    max-width: 292px;
                                    -o-object-fit: contain;
                                    object-fit: contain;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .vs-head {
        margin: 0 auto;
        max-height: 120px;
        max-width: 1366px;
        width: 100%;

        &-pri {
            align-items: center;
            display: flex;
            justify-content: space-between;
            max-height: 80px;
            padding: 16px 50px;

            &-logo {
                height: 100%;
                margin-right: 16px;
                max-height: 40px;
                max-width: 170px;
                width: 100%;

                a {
                    display: block;
                }

                img {
                    height: 100%;
                    max-height: 40px;
                    max-width: 170px;
                    width: 100%;
                }
            }

            &-home-delivery {
                align-items: center;
                display: flex;
                gap: 8px;
                margin-right: 33px;
                max-height: 32px;
                min-width: 163px;

                &-icon {
                    cursor: pointer;
                    max-height: 24px;
                    max-width: 24px;
                }

                p {
                    cursor: pointer;
                    margin: unset;
                    padding: unset;
                    text-align: left;

                    span {
                        color: #555;

                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                    }

                    a {
                        color: #262626;
                        display: block;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                        text-align: left;
                        text-decoration: underline;
                    }
                }
            }

            &-search {
                background: #e9e9e9;
                border-radius: 37px;
                margin-right: 40px;
                max-width: 508px;
                padding: 12px 16px;
                width: 100%;

                form {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 16px;
                    width: 100%;

                    img {
                        max-height: 24px;
                        max-width: 24px;
                    }

                    input {
                        background: transparent;
                        border: none;
                        color: #7b7b7b;
                        font-family: robotoRegular, sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        outline: none;
                        width: 100%;
                    }
                }
            }

            &-links {
                margin-right: 16px;

                ul {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 16px;
                    list-style: none;
                    margin: unset;
                    padding: unset;

                    li {
                        gap: 4px;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;

                        img {
                            cursor: pointer;
                            max-height: 24px;
                            max-width: 24px;
                        }

                        a {
                            color: #262626;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 16px;
                            text-align: left;
                            text-decoration: none;
                            width: -webkit-max-content;
                            width: -moz-max-content;
                            width: max-content;
                        }
                    }
                }
            }

            &-wishlist {
                margin-right: 16px;
                max-height: 24px;

                img {
                    max-height: 24px;
                    max-width: 24px;
                }

                &-filled {
                    display: none;
                }
            }

            &-profile {
                margin-right: 16px;
                max-height: 24px;

                &-pre {
                    &-login {
                        img {
                            max-height: 24px;
                            max-width: 24px;
                        }
                    }
                }

                &-post {
                    &-login {
                        position: relative;

                        &-username {
                            cursor: pointer;
                            max-height: 24px;
                            max-width: 24px;
                            padding: 4px;

                            div {
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                background: #000;
                                border-radius: 50%;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                height: 16px;
                                justify-content: center;
                                width: 16px;

                                p {
                                    color: #fff;
                                    font-size: 9px;
                                    font-weight: 700;
                                    line-height: 11px;
                                    margin: unset;
                                    padding: unset;
                                    text-align: center;
                                }
                            }
                        }

                        &-wrapper {
                            background: #fff;
                            -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .102);
                            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .102);
                            padding: 20px 12px;
                            position: absolute;
                            right: -46px;
                            top: 34px;
                            width: 180px;

                            h3 {
                                color: #000;
                                font-family: var(--font-nohemi);
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 18px;
                            }


                            &-points {
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;

                                img {
                                    margin-right: 4px;
                                    max-height: 24px;
                                    max-width: 24px;
                                }

                                p {
                                    color: #434343;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 16px;

                                    span {
                                        color: #000;
                                        font-size: 12px;
                                        font-weight: 700;
                                        line-height: 16px;
                                    }
                                }
                            }

                            ul {
                                -webkit-box-orient: vertical;
                                -webkit-box-direction: normal;
                                border-bottom: 1px solid #e9e9e9;
                                border-top: 1px solid #e9e9e9;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                gap: 16px;
                                margin: 8px 0px 16px;
                                padding: 16px 0px;

                                li {
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    gap: 4px;

                                    img {
                                        max-height: 16px;
                                        max-width: 16px;
                                    }

                                    a {
                                        color: #555;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-cart {
                max-height: 24px;
                position: relative;

                img {
                    max-height: 24px;
                    max-width: 24px;
                }

                span {
                    align-items: center;
                    background-color: #eb000e;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    font-size: 9px;
                    font-weight: 700;
                    height: 13px;
                    justify-content: center;
                    line-height: 11px;
                    position: absolute;
                    right: 0;
                    top: 0px;
                    width: 13px;
                }
            }
        }

        &-sec {
            max-height: 40px;
            padding: 0px 51px;

            &-l1 {
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin: unset;
                padding: unset;

                ul {
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    margin: unset;
                    padding: unset;
                    width: 100%;



                    li {
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        align-items: center;
                        cursor: pointer;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        justify-content: center;
                        padding: 12px 0px;

                        &.active {
                            position: relative;

                            &::after {
                                background-color: #000;
                                bottom: 0;
                                content: " ";
                                height: 2px;
                                left: 0;
                                position: absolute;
                                width: 100%;
                            }

                        }





                        img {
                            display: none;
                        }

                        a {
                            color: #555;
                            font-family: robotoRegular, sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            text-align: left;
                            text-decoration: none;
                        }
                    }
                }






            }


        }
    }
}